body {
	background-color:#c0c0c0;
	font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
}

div#container{
	width:740px;
	margin:60px auto;
	background-color:#ffffff;
	padding:30px;
}





h1{
font-family: serif;
    color: aqua
}

img#image {
width: 100%;
    border: 2px solid blue;
    border-radius: 5px;

}