body {
	background-color:#c0c0c0;
	font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
}

div#container{
	width:740px;
	margin:60px auto;
	background-color:#ffffff;
	padding:30px;
}

.shadow{
	box-shadow: 0px 0px 30px #555555;
}

#name {
text-align: center;
    }


ul#nav{
   text-align: center;
     margin: 1px 40px 50px 40px;
    border-bottom : 1px solid black;
    }

ul#nav li{
    text-align: center;
list-style: none;
    display: block;
    float: ;
    padding: 10px;
    font-size: 5pt;
}

h2 {color: darkred;
font-size: 12pt;
    text-align:left;
margin: 10px 50px 50px 80px;
}

li#contect{
    color:orange;
text-align: left;
margin: 10px 40px 40px 80px;
}


     text-align: center;
   
    color: blue;
    
padding: 30px;
    height: 40px;